*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
header, main, footer{
    border: 1px black solid;
}
section{
    font-size: 20px;
    border: 1px solid red;
    padding: 5px;
    text-align: center;
}
section h1{
    padding: 10px;
}