@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.avaliacaoCliente{
    border: 1px solid black;
    width: 300px;
    padding: 4px;
    background-color: rgb(240, 234, 234);
    display:inline-block;
    margin: 10px;
    text-align: center;
    box-shadow: 2px 2px 10px black;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.6px;
}
.avaliacaoCliente img{
    border-radius: 50%;
    border: 1px solid black;

}
.avaliacaoCliente > :nth-child(2){
   color: red;
   font-weight: bold;
   font-size: 18px;
}
.avaliacaoCliente > :nth-child(3){
   color: black;
   font-weight: bold;
}